<%= provide(:title, '') %>

  <% if signed_in? %>
    <%= render 'shared/update_feed' %>

    <div class="container main_content">
      <div class="row">
        <div class="span3">

          <h2 style="line-height: 1em;">
            Hi, <br>
            <%= current_user.name %>!
          </h2>
      

          <ul class="nav nav-list">
            <li class="nav-header">Favorites</li>
            <li class="active">
              <%= link_to root_path do %>
                <i class="icon-home"></i>  Home
              <% end -%>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="icon-user"></i>  Profile
              <% end -%>
            </li>
            <li>
              <%= link_to auctionitems_path do %>
                <i class="icon-time"></i>  History
              <% end -%>
            </li>
          </ul>
        </div>
        <div class="span9">
          <!-- # <%= link_to 'New Auction', newauctionitems_path, class: 'btn btn-primary btn-small pull-right' %> -->

          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Buy</a></li>
          </ul>
        </div>
      </div>
    </div>

  <% else %>

    <div class="container center_piece">
      <div class="container">
        <div class="row">
          <div class="span8">
            <section class="hero">
              <h1>Want to host your own private auction?<br><span>Sign up for beta now.</span></h1>
              <%= image_tag("samplehero.jpeg", alt: "samplehero") %>
            </section>
          </div>
          <div class="span4 pull-right">
            <section class="signup-in">
              <%= render 'shared/sign_in_up_tabs' %>
            </section>
          </div>
        </div>
      </div>
    </div>
  <% end %>
