<%= provide(:title, '') %>

<% if signed_in? %>

  <nav class="user_home_nav">
    <h1>
      <%= current_user.name %>
    </h1>
    <%= render @auction_items %>
    <%= link_to 'New Auction', newauctionitems_path, id: 'new_auction_link' %>
  </nav>

  <% if @auction_items.any? %>

    <section class="user_auctions">
      <%= render 'shared/auction_pages' %>
      <%= render 'shared/main_auction' %>
    </section>

  <% else %>
    <h2 class="no_auction_message">Click this thing to start your auction!</h2>
    <canvas id="new_auction_arrow"></canvas>
  <% end -%>
<% else %>

  <div class="eight columns offset-by-four">
    <div class="center">
      <h1>Want to host your own private auction?<br><span>Sign up for beta now.</span></h1>
    </div>
  </div>

<% end %>