<%= provide(:title, '') %>

<% if signed_in? %>

  <nav class="user_home_nav">
    <h1>
      <%= current_user.name %>
    </h1>
    
    <%= link_to 'New Auction', newauctionitems_path, id: 'new_auction_link' %>
  </nav>

  <% if @auction_items.any? %>

      <%= render 'shared/auction_pages' %>

  <% else %>
    <h2 class="no_auction_message">Click this thing to start your auction!</h2>
    <canvas id="new_auction_arrow"></canvas>
  <% end -%>
<% else %>

  <div class="container center_piece">
    <div class="container">
      <div class="row">
        <div class="span8">
          <section class="hero">
            <h1>Want to host your own private auction?<br><span>Sign up for beta now.</span></h1>
            <%= image_tag("samplehero.jpeg", alt: "samplehero") %>
          </section>
        </div>
        <div class="span4 pull-right">
          <section class="signup-in">
            <%= render 'shared/sign_in_up_tabs' %>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>