<%= provide(:title, 'Sign up') %>

<div class="container cont-top">
  <div class="row">
    <div class="span4 offset4">
      <h1>Sign up</h1><br>
      <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %> <br>

        <%= f.submit "Create my account", class: 'btn btn-primary btn-small' %>
      <% end %>
    </div>
  </div>
</div>
