<div class="container background_pattern hidden-phone" id="update_feed_area">
  <div class="container">
    <div class="row">
      <section class="update_feed">
        <ul class="thumbnails">
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
          <li class="span2"><a href="#" class="thumbnail"><%= image_tag('gif.gif') %></a></li>
        </ul>
      </section>
    </div>
  </div>
</div>

<div class="container hidden-phone">
  <div class="row">
    <div class="span12">
      <div id="hide_show_feed">
        <%= image_tag('navup.png', alt: 'navup', id: "navup") %>
        <%= image_tag('navdown.png', alt: 'navdown', id: "navdown") %>
      </div>
    </div>                  
  </div>
</div>